<div class="layout-page-content">
  <div>
    <h2 style="text-align:center"><span id="i18n_page_title">View Series Info</span></h2>
  </div>
  <div class="form-box layout-centered ui-widget">
    <div class="form-box-content ui-widget-content ui-corner-all">
      <ul class="oc-ui-form-list">
        <li>
          <label for="id"><span id="i18n_id">Identifier</span>:</label>
          <span id="id"></span>
        </li>
        <li>
          <label for="title"><span id="i18n_title">Series Title</span>:</label>
          <span id="title"></span>
        </li>
        <li>
          <label for="creator"><span id="i18n_creator">Organizer</span>:</label>
          <span id="creator"></span>
        </li>
        <li>
          <label for="contributor"><span id="i18n_contributor">Contributor</span>:</label>
          <span id="contributor"></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-box layout-centered ui-widget oc-ui-collapsible-widget">
    <div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor">
      <div id="additional_icon" class="ui-icon ui-icon-triangle-1-e"></div>
      <div id="i18n_additional">Additional Description</div>
      <div class="clear"></div>
    </div>
    <div class="form-box-content ui-widget-content ui-corner-bottom">
      <div id="additionalContentTabs">
        <!-- <ul>
          <li><a href="#commonTab" id="i18n_common_tab">Common Descriptors</a></li>
          <li><a href="#additionalTab" id="i18n_additional_tab">Additional Metadata</a></li>
        </ul> -->
        <div id="commonTab">
          <ul class="oc-ui-form-list">
            <li>
              <label for="subject"><span id="i18n_subject">Subject</span>:</label>
              <span id="subject"></span>
            </li>
            <li>
              <label for="language"><span id="i18n_langauge">Language</span>:</label>
              <span id="language"></span>
            </li>
            <li>
              <label for="license"><span id="i18n_license">License</span>:</label>
              <span id="license"></span>
            </li>
            <li>
              <label for="description"><span id="i18n_description">Description</span>:</label>
              <span id="description"></span>
            </li>
          </ul>
        </div>
        <!-- <div id="additionalTab">Some Stuff</div> -->
      </div>
    </div>
    <div id="privileges" class="form-box layout-centered ui-widget">
      <div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor">
        <div id="i18n_privileges">Privileges</div>
        <div class="clear"></div>
      </div>
      <div class="form-box-content ui-widget-content ui-corner-bottom" id="privileges-list">

      </div>

    </div>
    <div id="salesforce" class="form-box layout-centered ui-widget">
      <div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor">
        <div id="i18n_salesforce">Salesforce Project Information</div>
        <div class="clear"></div>
      </div>
      <div class="form-box-content ui-widget-content ui-corner-bottom" id="salesforce-list">
        <div id="additionalContentTabs">
            <div id="commonTab">
              <ul class="oc-ui-form-list">
                <li>
                  <label for="stageOfLifecycle"><span id="i18n_stageOfLifecycle">Stage</span>:</label>
                  <span id="stageOfLifecycle"></span>
                </li>
                <li>
                  <label for="stageOfApproval"><span id="i18n_stageOfApproval">Approval Status</span>:</label>
                  <span id="stageOfApproval"></span>
                </li>
                <li>
                  <label for="participationSet"><span id="i18n_participationSet">Instructor(s)</span>:</label>
                  <span id="participationSet"></span>
                </li>
                <li>
                  <label for="dates"><span id="i18n_dates">Recording Dates & Times</span>:</label>
                  <span id="dates"></span>
                </li>

                <li>
                  <label for="room"><span id="i18n_room">Room</span>:</label>
                  <span id="room"></span>
                </li>
                <li>
                  <label for="capture-preferences-recording-type"><span id="i18n_capture-preferences-recording-type">Recording Type</span>:</label>
                  <span id="capture-preferences-recording-type"></span>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>

  </div>
  <br>
  <center><a href="javascript:window.history.back();" title="Go Back">&lt;&lt; Back to Series</a></center>
</div>